---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>The visual rendering of all the code I copied and pasted when told to do so.</h2>
</BaseLayout>