---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #1d6f95;
    text-decoration: none;
  }

  :global(.dark) a {
    background-color: #4a9ec5;
    color: #0d0950;
    outline: 2px solid #fff;
  }
</style>